.uli2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);

}
.lia2{
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  float: left;

}

.uli3 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 220px;



}

.lia3 {
  color: white;
  padding: 12px;
  text-decoration: none;
    background: linear-gradient(to bottom,#3b8d99 , #2b5876 );
      border-radius: 25px;


}
body{
/* background: linear-gradient(to right, #2C5364, #203A43, #0F2027); */
  background: linear-gradient(to right, #dae2f8, #d6a4a4);
  font-style: oblique;
  font-family:  Times New Roman;
}
.box{
float:left;
width:80%;
margin-left:30px;
height:425px;
background-image: url("500.jpeg");
border-style: none;
border-color: white;
border-style: inset;
border-width: 2px;
border-radius: 20px;
background-position: center;
}
.logo{
  height: 40px;
  font-size: 20px;
  margin-top: 2px;
   font-family: "Times New Roman", Times, serif;

}
